operator: 
    image: <your-repository>/operator
    enforce-mode: # lsm or kprobe
agent: 
    image: <your-repository>/agent
    enable-otel-tracing: true/false
clusters:
    - <your non-kind cluster>
