---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.17.1
  name: workloadsecuritypolicyproposals.security.rancher.io
spec:
  group: security.rancher.io
  names:
    kind: WorkloadSecurityPolicyProposal
    listKind: WorkloadSecurityPolicyProposalList
    plural: workloadsecuritypolicyproposals
    singular: workloadsecuritypolicyproposal
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: WorkloadSecurityPolicyProposal is the Schema for the workloadsecuritypolicyproposals
          API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: WorkloadSecurityPolicyProposalSpec defines the desired state
              of WorkloadSecurityPolicyProposal.
            properties:
              rules:
                description: rules specifies the rules this policy contains
                properties:
                  executables:
                    description: executables defines a security policy used for executables.
                    properties:
                      allowed:
                        description: allowed defines a list of executables that are
                          allowed to run
                        items:
                          type: string
                        type: array
                      allowedPrefixes:
                        description: allowedPrefixes defines a list of prefix with
                          which executables are allowed to run
                        items:
                          type: string
                        type: array
                    type: object
                type: object
              selector:
                description: |-
                  selector is a kubernetes label selector used to match
                  workloads using its pod labels.
                properties:
                  matchExpressions:
                    description: matchExpressions is a list of label selector requirements.
                      The requirements are ANDed.
                    items:
                      description: |-
                        A label selector requirement is a selector that contains values, a key, and an operator that
                        relates the key and values.
                      properties:
                        key:
                          description: key is the label key that the selector applies
                            to.
                          type: string
                        operator:
                          description: |-
                            operator represents a key's relationship to a set of values.
                            Valid operators are In, NotIn, Exists and DoesNotExist.
                          type: string
                        values:
                          description: |-
                            values is an array of string values. If the operator is In or NotIn,
                            the values array must be non-empty. If the operator is Exists or DoesNotExist,
                            the values array must be empty. This array is replaced during a strategic
                            merge patch.
                          items:
                            type: string
                          type: array
                          x-kubernetes-list-type: atomic
                      required:
                      - key
                      - operator
                      type: object
                    type: array
                    x-kubernetes-list-type: atomic
                  matchLabels:
                    additionalProperties:
                      type: string
                    description: |-
                      matchLabels is a map of {key,value} pairs. A single {key,value} in the matchLabels
                      map is equivalent to an element of matchExpressions, whose key field is "key", the
                      operator is "In", and the values array contains only "value". The requirements are ANDed.
                    type: object
                type: object
                x-kubernetes-map-type: atomic
            type: object
          status:
            description: WorkloadSecurityPolicyProposalStatus defines the observed
              state of WorkloadSecurityPolicyProposal.
            properties:
              conditions:
                items:
                  properties:
                    lastProbeTime:
                      description: lastProbeTime is the time we probed the condition.
                      format: date-time
                      type: string
                    lastTransitionTime:
                      description: lastTransitionTime is the time the condition transitioned
                        from one status to another.
                      format: date-time
                      type: string
                    message:
                      description: message is the human-readable message indicating
                        details about last transition.
                      type: string
                    reason:
                      description: |-
                        reason is a unique, this should be a short, machine understandable string that gives the reason
                        for condition's last transition. If it reports "ResizeStarted" that means the underlying
                        persistent volume is being resized.
                      type: string
                    status:
                      type: string
                    type:
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
