---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "runtime-enforcement.fullname" . }}-operator
rules:
- apiGroups:
  - apps
  resources:
  - daemonsets
  - deployments
  - replicasets
  - statefulsets
  verbs:
  - get
- apiGroups:
  - batch
  resources:
  - cronjobs
  - jobs
  verbs:
  - get
- apiGroups:
  - cilium.io
  resources:
  - tracingpolicies
  - tracingpoliciesnamespaced
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - security.rancher.io
  resources:
  - clusterworkloadsecuritypolicies
  - workloadsecuritypolicies
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - security.rancher.io
  resources:
  - clusterworkloadsecuritypolicies/finalizers
  - workloadsecuritypolicies/finalizers
  verbs:
  - update
- apiGroups:
  - security.rancher.io
  resources:
  - clusterworkloadsecuritypolicies/status
  - workloadsecuritypolicies/status
  verbs:
  - get
  - patch
  - update
