---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "runtime-enforcer.fullname" . }}-operator
rules:
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - apps
  resources:
  - daemonsets
  - deployments
  - replicasets
  - statefulsets
  verbs:
  - get
- apiGroups:
  - batch
  resources:
  - cronjobs
  - jobs
  verbs:
  - get
- apiGroups:
  - security.rancher.io
  resources:
  - workloadpolicies
  - workloadpolicyproposals
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - security.rancher.io
  resources:
  - workloadpolicies/finalizers
  - workloadpolicyproposals/finalizers
  verbs:
  - update
- apiGroups:
  - security.rancher.io
  resources:
  - workloadpolicies/status
  - workloadpolicyproposals/status
  verbs:
  - get
  - patch
  - update
