---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "runtime-enforcer.fullname" . }}-agent
rules:
- apiGroups:
  - ""
  resources:
  - nodes
  - pods
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - security.rancher.io
  resources:
  - workloadpolicies
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - security.rancher.io
  resources:
  - workloadpolicyproposals
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
