name: Update helm charts
on:
  workflow_call:
jobs:
  update-runtime-enforcement-charts:
    name: Update RuntimeEnforcement charts
    runs-on: ubuntu-latest
    permissions:
      contents: write # for updatecli to update the repository
      pull-requests: write # for updatecli to create a PR
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Install Updatecli in the runner
        uses: updatecli/updatecli-action@2289ae9c945707079a248f5e4f5743a6592429ef # v2.90.0

      - name: Update RuntimeEnforcement charts
        env:
          UPDATECLI_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          UPDATECLI_GITHUB_OWNER: ${{ github.repository_owner }}
        run: "updatecli apply --config ./.github/updatecli/updatecli.d/helm-chart-update.yaml --values .github/updatecli/values.yaml"
