name: Update helm charts
on:
  workflow_call:
jobs:
  update-runtime-enforcement-charts:
    name: Update RuntimeEnforcement charts
    runs-on: ubuntu-latest
    permissions:
      contents: write # for updatecli to update the repository
      pull-requests: write # for updatecli to create a PR
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Install Updatecli in the runner
        uses: updatecli/updatecli-action@0224b21c3687ac1a7510298d58c9a42db84e5814 # v2.92.0

      - name: Update RuntimeEnforcement charts
        env:
          UPDATECLI_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          UPDATECLI_GITHUB_OWNER: ${{ github.repository_owner }}
        run: "updatecli apply --config ./.github/updatecli/updatecli.d/helm-chart-update.yaml --values .github/updatecli/values.yaml"
